{% load static %}
<section class="hero-slider">
    <div class="hero-items owl-carousel">
        <div class="single-slider-item set-bg" data-setbg="{% static 'img/BANNER1-2.jpg' %}">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="{% static 'img/Bell_Qualifier_DLX_MIPS_web_banner_1.jpg' %}">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="{% static 'img/MY project-1.jpg' %}">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>