{% extends 'layout/base.html' %}
{% load static %}
{% block content %}

<style>
    .image-holder{
     width: 500px;
     position: relative;
     cursor: pointer;
     >img{
       width: 100%;
       height: auto;
       object-fit: cover;
     }
   }
   .image-preview{
     width: 400px;
     height: 500px;
     overflow: hidden;
     position: relative;
     >img{
       position: absolute;
       top: 0;
       left: 0;
       transform: scale(2);
       transform-origin: left top;
     }
   }
   
   .magnifiying-glass{
     width: 100px;
     height: 100px;
     border: 1px dashed black;
     position: absolute;
     top: 0;
     left: 0;
     background: rgba(0,0,0,0.2);
   }
   figure{
     display: inline-block;
     vertical-align: top;
   }

   .zoom_image {
    overflow: hidden;
    margin: 0 auto;
    border-radius: 0.5rem;
    cursor: zoom-in;
   }
    &.zoom_mode_active {
      cursor: zoom-out;
   }
</style>

<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Helmets<span>.</span></h2>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Product Page Section Beign -->
<section class="product-page">
  <div class="container">
      <div class="product-control">
          <a href="#">Previous</a>
          <a href="#">Next</a>
      </div>
      <div class="row">
          <div class="col-lg-6" id="slide-wrapper">
              <div class="product-slider owl-carousel">
                  <div class="col-lg-3">
                      <figure class="image-holder zoom_image">
                          <img src="{{single_product.images.url}}" id="product-image" width="300" height="240" alt="#" class="img-fluid rounded">
                          <div class="image-preview d-none">
                              <img src="{{single_product.images.url}}" id="image-preview" width="300" height="240" alt="#" class="img-fluid rounded">
                          </div>
                          <div class="magnifying-glass"></div>
                      </figure>
                  </div>
                  {% for image in product_images %}
                  <div class="product-img zoom_image">
                      <figure>
                          <img src="{{ image.image.url }}" alt="">
                          <div class="p-status">new</div>
                      </figure>
                  </div>
                  {% endfor %}
              </div>
          </div>
          <div class="col-lg-6">
              <form action="{% url 'add_cart' single_product.id %}" method="POST">
                  {% csrf_token %}
                  <div class="product-content">
                      <h2>{{ single_product.name }}</h2>
                      <div class="pc-meta">
                          <h5>MRP Rs {{ single_product.price }}</h5>
                          <div class="rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                          </div>
                      </div>
                      <p>{{ single_product.description }}</p>
                      <ul class="tags">
                          <li><span>Category :</span> {{ single_product.category }}</li>
                          <li><span>Company :</span>{{ single_product.company }}</li>
                      </ul>
                      <h6>CHOOSE SIZE</h6>
                      <select name="size" class="form-control" style="border-radius: 10px; width: 150px;">
                          <option value="" disabled selected>select</option>
                          {% for i in product_variant %}
                          <option value="{{ i }}">{{ i }}</option>
                          {% endfor %}
                      </select>
                      <br>
                      {% if single_product.product.stock <= 0 %}
                      <h5 class="text-danger">OUT OF STOCK</h5>
                      {% else %}
                      <button type="submit" class="primary-btn pc-btn">Add to cart</button>
                      {% endif %}
                      <ul class="p-info">
                          <li></li>
                          <li></li>
                          <li></li>
                      </ul>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->

<!-- Related Product Section End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          var isActiveMode = false;
          $(".zoom_image")
            .on("click", function() {
              isActiveMode = !isActiveMode;
              if (isActiveMode) {
                $(this).addClass("zoom_mode_active");
                if ($(window).width() > 767) {
                  $(this).children("img").css({ transform: "scale(2)" });
                } else {
                  $(this).children("img").css({ transform: "scale(5)" });
                }
              } else {
                $(this).removeClass("zoom_mode_active");
                $(this).children("img").css({ transform: "scale(1)" });
              }
            })
            .on("mousemove", function(e) {
              $(this)
                .children("img")
                .css({
                  "transform-origin":
                    ((e.pageX - $(this).offset().left) / $(this).width()) * 100 +
                    "% " +
                    ((e.pageY - $(this).offset().top) / $(this).height()) * 100 +
                    "%",
                });
            });
        
        $(document).on("click", function(event) {
            // Check if the clicked element is not within .zoom_image
            if (!$(event.target).closest(".zoom_image").length) {
              $(".zoom_image").removeClass("zoom_mode_active");
              $(".zoom_image img").css({ transform: "scale(1)" });
              isActiveMode = false;
            }
          });
      
          // Reset image zoom when changing the image source
          function image_gal(img) {
            var a = img.src;
            $("#large_img").attr("src", a);
            $(".zoom_image").removeClass("zoom_mode_active");
            $(".zoom_image img").css({ transform: "scale(1)" });
            isActiveMode = false;
          }
        });
</script>

{% endblock content %}