{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<!-- Page Add Section Begin -->

<!-- Page Add Section End -->

<!-- Cart Page Section Begin -->
<div class="cart-page">
    <div class="container">
        <div class="cart-table">
            <div class="card">
                <h5 class="card-header">Billing Address</h5>
                <div class="card-body">
                  <p class="card-text mb-0">{{order.full_name}}</p>
                  <p class="card-text mb-0">{{order.full_address}}</p>
                  <p class="card-text mb-0">{{order.pin_code}}</p>
                  <p class="card-text mb-0">{{order.city}} {{order.state}}</p>
                  <p class="card-text mb-0">{{order.country}}</p>
                  <p class="card-text mb-0">Email-{{order.email}}</p>
                  <p class="card-text mb-0">Phone-{{order.phone}}</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Payment Method</h5>
                <div class="card-body">
                    <!-- Button for Cash on Delivery -->
                    <form id="payment-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="payment-method">Select Payment Method:</label>
                            <div class="d-flex">
                                <!-- <form method="post" action="{% url 'cash_on_delivery' %}">
                                    {% csrf_token %}
                                    <button  type="submit" class="btn btn-primary">Cash on Delivery</button>
                                </form> -->

                                <div id="paypal-button-container"></div>
                            </div>
                            <br>
                            <a href="{% url 'cash_on_delivery' %}" style="background-color: #007bff; color: #fff; padding: 10px; border-radius: 5px; text-decoration: none;">Cash On Delivery</a>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>
        
       
    </div>
    <div class="shopping-method">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shipping-info">
                        <h5>Choose a shipping</h5>
                        <div class="chose-shipping">
                            <div class="cs-item">
                                <input type="radio" name="cs" id="one">
                                <label for="one" class="active">
                                    Free Standard shhipping
                                    <span>Estimate for New York</span>
                                </label>
                            </div>
                            <div class="cs-item">
                                <input type="radio" name="cs" id="two">
                                <label for="two">
                                    Next Day delievery $10
                                </label>
                            </div>
                            <div class="cs-item last">
                                <input type="radio" name="cs" id="three">
                                <label for="three">
                                    In Store Pickup - Free
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="total-info">
                        <div class="total-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Total</th>
                                        <th>Shipping</th>
                                        <th class="total-cart">Grand Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="total">₹{{ total}}</td>
                                        <td class="shipping">₹{{ shipping }}</td>
                                        <td class="total-cart-p">₹{{ grand_total }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <a href="{% url 'checkout' %}" class="primary-btn chechout-btn">Make Payment</a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    
    var amount = "{{ grand_total }}"
    var csrftoken = getCookie('csrftoken');
    var url = "{% url 'payments' %}"
    var orderID = "{{order.order_number}}"
    var payment_method= 'PayPal'
    var redirect_url= "{% url 'order_complete' %}"
    console.log(orderID)
        // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amount,
                    }
                }]
            });
            },
        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                console.log(details);
                // Successful capture! For demo purposes:
                sendData(); 
                function sendData(){
                    fetch(url,{
                        method : "POST",
                        headers:{
                            "Content-type":"application/json",
                            "X-CSRFToken":csrftoken,
                        },
                        body:JSON.stringify({
                            orderID : orderID,
                            transID : details.id,
                            payment_method : payment_method,
                            status : details.status,
                        }),
                    })
                      .then(async function (response){
                        //.then((response) => response.json())
                        //.then((data) => {
                            const data =await response.json()
                            window.location.href = redirect_url+'?order_number='+data.order_number+'&payment_id='+data.transID;
                        });
                 
                  }
            });
            }
    }).render('#paypal-button-container');
  </script>
<!-- Cart Page Section End -->
{% endblock content %}