{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products Page - Dashboard Template</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/tooplate.css' %}">
</head>

<body id="reportsPage" class="bg02">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="index.html">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">Dashboard</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'category' %}">Category</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts' %}">Accounts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'coupon_manage' %}">Coupons</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="{% url 'usersignin' %}">
                                        <i href="{% url 'logoutadmin' %}" class="far fa-user mr-2 tm-logout-icon"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big ">
                <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title d-inline-block">Product Categories</h2>
                        <table class="table table-hover table-striped mt-3">
                            <thead>
                                <tr class="tm-bg-gray">
                                    <!-- <th scope="col">&nbsp;</th> -->
                                    <th scope="col">Code</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Valid-from</th>
                                    <th scope="col">Valid-to</th>
                                    <th scope="col">min-amount</th>
                                    <th scope="col">Is-active</th>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                        {% for coupons in coupons %}
                        <tr>
                            <td>{{ coupons.code }}</td>
                            <td>{{ coupons.discount }}</td>
                            <td>{{ coupons.valid_from }}</td>
                            <td>{{ coupons.valid_to }}</td>
                            <td>{{ coupons.min_amount }}</td>
                            <td>{{ coupons.active }}</td>
                            <td>
                                <a href="{% url 'edit_coupon' coupons.id %}" class="btn btn-sm btn-primary ">Edit</a>
                            </td>
                            <td>
                                <form action="{% url 'delete_coupon' coupons.id %}" method="post" class="d-inline">{% csrf_token %}
                                    <input type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to Delete this Coupon?')" value="Delete">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                            </tbody>
                        </table>

                        <a href="{% url 'add_coupon' %}" class="btn btn-primary tm-table-mt">Add New Coupon</a>
                    </div>
                </div>
            </div>
            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2018. Created by
                        <a href="http://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a> |  Distributed by <a href="https://themewagon.com" class="text-white tm-footer-link">ThemeWagon</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('.tm-product-name').on('click', function () {
                window.location.href = "edit-product.html";
            });
        })
    </script>
    <script>
        $(function () {
            $('.delete-category').on('click', function (e) {
                e.preventDefault();
                var categoryId = $(this).data('category-id');
                var confirmation = confirm('Are you sure you want to delete this category?');
                if (confirmation) {
                    $.ajax({
                        url: '/customadmin/category/' + categoryId + '/delete/',
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function () {
                            // Optional: Refresh the category list or update the UI
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            });
        });
    </script>
</body>

</html>