{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Admin Template by Tooplate.com</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/fullcalendar.min.css' %}">
    <!-- https://fullcalendar.io/ -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/tooplate.css' %}">
</head>

<body id="reportsPage">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="#">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">Dashboard</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'category' %}">Category</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts' %}">Accounts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'coupon_manage' %}">Coupons</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="{% url 'usersignin' %}">
                                        <i href="{% url 'logoutadmin' %}" class="far fa-user mr-2 tm-logout-icon"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-0">
                        <h5 class="mb-0">Recent Orders</h5>
                        <a href="{% url 'orders' %}">Show All</a>
                    </div>
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-md-flex d-grid align-items-center justify-content-between mb-4">
                            {% comment %} <form class="form-inline d-flex my-1 align-items-center justify-content-between" style="width:70%;"> {% endcomment %}
                            <div>
                                <h6 class="mb-0">From</h6>
                                <input class="form-control" type="date" name="from" id="from">
                            </div>
                            <div>
                                <h6 class="mb-0">To</h6>
                                <input class="form-control" type="date" name="to" id="to">
                            </div>
                            <button class="btn btn-primary" onclick="applyfilter()">Go</button>
                            {% comment %} </form> {% endcomment %}
                        <div>
                            <select class="float-right form-control" id="export-options" onchange="exportData()">
                                <option value=" ">Choose option</option>
                                <option value="excel">Export to Excel</option>
                                <option value="pdf">Download PDF</option>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="table-responsive">
                        {% if orders %}
            <table id="orders-table" class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Ordered User</th>
                    <th scope="col">Price</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Status </th>
                    
                  </tr>
                </thead>
                <tbody id="tbody">
                {% for order in orders %}
                  <tr>
                    <th scope="row">{{order.order_number}}</a></th>
                    <td>{{order.first_name}}</td>
                    <td>{{order.order_total}}</td>
                    <td>{{order.created_at}}</td>
                    <td>{{order.status}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <h3 class="text-center alert alert-warning ">No Records Found</h3>
            {% endif %}
                    </div>
                </div>
            </div>
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Latest Hits</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title">Performance</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="tm-col tm-col-small">
                    <div class="bg-white tm-block h-100">
                        <canvas id="pieChart" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>

                <div class="tm-col tm-col-big w-100">
                    <div class="statistics">
                        <div class="row">
                          <div class="col-xl-6 pr-xl-2">
                            <div class="row">
                              <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                  <i class="fa-sharp fa-solid fa-users fa-2xl pt-1" style="color: #4755AB;"></i>
                                  <h3 class="text-primary number">{{users_count}}</h3>
                                  <p class="stat-text">Total Users</p>
                                </div>
                              </div>
                              <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                  <i class="fa-sharp fa-solid fa-shirt fa-2xl pt-1" style="color: #B162AC;"></i>
                                  <h3 class="text-secondary number">{{product_count}}</h3>
                                  <p class="stat-text">Product Count</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-6 pl-xl-2">
                            <div class="row">
                              <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                  <i class="fa-sharp fa-solid fa-coins fa-2xl pt-1" style="color: #03c895;"></i>
                                  <h3 class="text-success number">{{sums}}</h3>
                                  <p class="stat-text">Weekly Revenue</p>
                                </div>
                              </div>
                              <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                  <i class="fa-sharp fa-solid fa-cart-flatbed-suitcase fa-2xl pt-1" style="color: #ff4f81;"></i>
                                  <h3 class="text-danger number">{{total_orders}}</h3>
                                  <p class="stat-text">Total Orders</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- //statistics data -->
                  
                      <!-- charts -->
                      <div class="chart">
                        <div class="row">
                          <div class="col-lg-6 pr-lg-2 chart-grid">
                            <div class="card text-center card_border">
                              <div class="card-header chart-grid__header">Bar Chart</div>
                              <div class="card-body">
                                <!-- bar chart -->
                                <div id="container">
                                  <canvas id="mybarchart"></canvas>
                                </div>
                                <!-- //bar chart -->
                              </div>
                              <div class="card-footer text-muted chart-grid__footer">
                                Updated 2 hours ago
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 pl-lg-2 chart-grid">
                            <div class="card text-center card_border">
                              <div class="card-header chart-grid__header">Line Chart</div>
                              <div class="card-body">
                                <!-- line chart -->
                                <div id="container">
                                  <canvas id="mylinechart"></canvas>
                                </div>
                                <!-- //line chart -->
                              </div>
                              <div class="card-footer text-muted chart-grid__footer">
                                Updated just now
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                      
                    
                </div>
                
            </div>
            <div class="tm-col tm-col-big">
                <div class="bg-white tm-block h-100">
                    <h2 class="tm-block-title">Calendar</h2>
                    <div id="calendar"></div>
                    <div class="row mt-4">
                        <div class="col-12 text-right">
                            <a href="#" class="tm-link-black">View Schedules</a>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2018. Created by
                        <a href="http://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a> |  Distributed by <a href="https://themewagon.com" class="text-white tm-footer-link">ThemeWagon</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/js/moment.min.js' %}"></script>
    <!-- https://momentjs.com/ -->
    <script src="{% static 'admin/js/utils.js' %}"></script>
    <script src="{% static 'admin/js/Chart.min.js' %}"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="{% static 'admin/js/fullcalendar.min.js' %}"></script>
    <!-- https://fullcalendar.io/ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="{% static 'admin/js/tooplate-scripts.js' %}"></script>
    <script>
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function () {
            updateChartOptions();
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart
            drawCalendar(); // Calendar

            $(window).resize(function () {
                updateChartOptions();
                updateLineChart();
                updateBarChart();
                reloadPage();
            });
        })
    </script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function applyfilter(){
            var url = "{% url 'add_order_filter' %}"
            var csrftoken = getCookie('csrftoken');
            var from = document.getElementById("from").value
            var to = document.getElementById("to").value
            fetch(url,{
                method : "POST",
                headers:{
                    "Content-type":"application/json",
                    "X-CSRFToken":csrftoken,
                },
                body:JSON.stringify({
                    from:from,
                    to:to
                }),
            })
            .then(async function (response){
                const data =await response.json()
                if(data){
                    data.order = JSON.parse(data.order);
                    console.log(data)
      
                    // Clear the existing table contents
                    $('#orders-table tbody').empty();
                    // Loop through the new data and generate HTML for each row
                    $.each(data.order, function(index, order) {
                        let tr = document.createElement('tr')
                        let tbody = document.getElementById('tbody')
                        let trdata = `<td>${order.fields.order_number}</td>
                        <td>${order.fields.first_name} ${order.fields.last_name}</td>
                        <td>${order.fields.order_total}</td>
                        <td>${new Date(order.fields.created_at).toLocaleDateString()}</td>
                        <td>${order.fields.status}</td>
                        `
                        tr.innerHTML = trdata
                        tbody.appendChild(tr)
                        var row = $('<tr>');
                    });
                }
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script>
        function exportData() {
    var selectedOption = document.getElementById("export-options").value;
    
    if (selectedOption == "excel") {
        // call function to export to excel
        exportTableToExcel('orders-table', 'Sales Report');
    } else if (selectedOption == "pdf") {
        // call function to download pdf
        downloadPDF();
    
    }
    }
    function exportTableToExcel(table_id, filename = 'Sales-report'){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(table_id);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
    
        // Create download link element
        downloadLink = document.createElement("a");
    
        document.body.appendChild(downloadLink);
    
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
    
            // Setting the file name
            downloadLink.download = filename;
    
            //triggering the function
            downloadLink.click();
            location.reload()
        }
    }
    
    function downloadPDF() {
        const element = document.getElementById('orders-table');
    
    // configure the html2pdf options
        const options = {
        filename: 'sales-report.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };
    
    // convert the element to PDF
    html2pdf().from(element).set(options).save();
    }
    </script>
    
    

</body>
</html>