{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products Page - Dashboard Template</title>
    <!--

    Template 2108 Dashboard

	http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'admin/css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'admin/css/tooplate.css' %}">
</head>

<body id="reportsPage" class="bg02">
    <div class="" id="home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="index.html">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0">Dashboard</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'category' %}">Category</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'products' %}">Products</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts' %}">Accounts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'coupon_manage' %}">Coupons</a>
                                </li>
                                
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link d-flex" href="{% url 'usersignin' %}">
                                        <i href="{% url 'logoutadmin' %}" class="far fa-user mr-2 tm-logout-icon"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row tm-mt-big ">
                <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h2 class="tm-block-title d-inline-block">Orders</h2>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Status</th>
                                        <th>Created At</th>
                                        <th>Change Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in ord %}
                                    <tr>
                                        <td><a href="{% url 'order_details_admin' order_id=order.id %}" id="order_number" >{{ order.order_number }}</a></td>
                                        <td>{{ order.first_name }}</td>
                                        <td>{{ order.last_name }}</td>
                                        <td>{{ order.email }}</td>
                                        <td style="color: {% if order.status == 'New' %}blue{% elif order.status == 'Accepted' %}green{% elif order.status == 'Completed' %}orange{% elif order.status == 'Cancelled' %}red{% endif %}">{{ order.status }}</td>
                                        <td>{{ order.created_at }}</td>
                                        <td>
                                            <form method="POST" action="{% url 'change_status' order.id %}">
                                                {% csrf_token %}
                                                <select name="status">
                                                    <option value="New" {% if order.status == 'New' %}selected{% endif %}>New</option>
                                                    <option value="Accepted" {% if order.status == 'Accepted' %}selected{% endif %}>Accepted</option>
                                                    <option value="Completed" {% if order.status == 'Completed' %}selected{% endif %}>Completed</option>
                                                    <option value="Cancelled" {% if order.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                                                </select>
                                                <button type="submit">Change</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="row tm-mt-small">
                <div class="col-12 font-weight-light">
                    <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                        Copyright &copy; 2018. Created by
                        <a href="http://www.tooplate.com" class="text-white tm-footer-link">Tooplate</a> |  Distributed by <a href="https://themewagon.com" class="text-white tm-footer-link">ThemeWagon</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('.tm-product-name').on('click', function () {
                window.location.href = "edit-product.html";
            });
        })
    </script>
</body>

</html>